<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Update person</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/user/{id}(id=${user.getId()})}"
      th:object="${user}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <label for="password">Enter password: </label>
    <input type="text" th:field="*{password}" id="password"/>
    <br/>
    <label>Roles:</label>
    <div th:each="role : ${allRoles}">
        <input type="checkbox"
               th:text="${role.getName()}"
               th:value="${role.getId()}"
               th:field="*{roles}"
        />
    </div>
    <br/>
    <input type="submit" value="Update!"/>
</form>

<hr/>

<form th:method="POST" th:action="@{/logout}">
    <input type="submit" value="Logout"/>
</form>

</body>
</html>