<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
</head>
<body>
<h1>Users page</h1>

<div th:each="user : ${users}">
    <a th:href="@{/user/{id}(id=${user.getId()})}"
       th:text="${user.getName()}">user</a>

    <a th:href="@{/user/{id}/edit(id=${user.getId()})}">Edit</a>

    <a>
        <form th:method="DELETE" th:action="@{/user/{id}(id=${user.getId()})}">
            <input type="submit" value="Delete"/>
        </form>
    </a>

    <br/>
</div>

<hr/>

<a href="/user/new">Create new person</a>

<hr/>

<form th:method="POST" th:action="@{/logout}">
    <input type="submit" value="Logout"/>
</form>

</body>
</html>